* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button:hover {
  transition: 0.2s ease all;
  transform: scale(1.05);
  cursor: pointer;
}

.navbar {
  justify-content: space-around;
}

.navbar>button:hover {
  transition: 0.2s all ease;
  transform: scale(1.05);
}

.column-wrapper {
  display: grid;
  grid-template: 1fr /1fr 8fr 1fr;
  grid-gap: 15px;
}

.left-column {
  display: grid;
  grid-template: 800px / 110px;
  grid-gap: 5px;
}

.main-column {
  padding: 0;
  display: flex;
  justify-content: center;
}

.left-column>.list-group {
  width: 120px;
  overflow: overlay;
  display: block;
  padding: 5px;
}

.list-group-item.active {
  background-color: transparent !important;
}

.list-group::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  z-index: 100;
}

.list-group::-webkit-scrollbar-track {
  background: #252525;
  border-radius: 15px;
}

.list-group::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 15px;
}

.list-group-item {
  padding: 0 !important;
}

.list-group-item {
  cursor: pointer;
  background: none;
  background-color: transparent;
  border-radius: 0.25rem;
  width: 110px;
  height: 110px;
  border: 3px solid grey;
  position: relative;
}

.list-group-item:not(:first-child) {
  margin-top: 10px;
}


.tools-list {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-gap: 10px;
  padding: 5px;
  justify-items: center;
}

.tool {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: url(./../../img/icons.png);
}

.pen {
  background-position: -182px -92px;
}

.bucket {
  background-position: -228px -92px;
}

.stroke {
  background-position: -46px -136px;
}

.rectangle {
  background-position: -182px 0px;
}

.circle {
  background-position: -228px -46px;
}

.move {
  background-position: -184px -228px;
}

.shape {
  background-position: -92px -136px;
}

.dithering {
  background-position: 0px -228px;
}

.tool:hover {
  transition: 0.2s all ease;
  transform: scale(1.02);
}

.active {
  border: 3px solid rebeccapurple !important;
  box-shadow: 0 0 5px 1px maroon;
}


.right-column {
  display: grid;
  grid-template: 260px 125px 125px / 200px;
  grid-gap: 15px;
}

.layers-wrapper {
  border-radius: 3px;
  border: 3px solid grey;
}

.info-wrapper {
  font-weight: 200;
  color: #01a661;
  text-shadow: 0 0 10px;
}

.frame_rate {
  width: 200px;
  height: 26px;
}

.color {
  font-weight: 600;
  color: white;
  text-shadow: 0 0 10px;
  displaY: flex;
  align-items: baseline;
  width: 100%;
  height: 100%;
}

.color>label {
  position: relative;
  top: -5px;
  left: 10px;
}

.color>input {
  border-radius: 10px;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 32px;
  height: 32px;
  box-shadow: 0 0 15px 0px red;
  border: 5px solid rebeccapurple;
  border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.fps_value {
  font-weight: 200;
  color: #01a661;
  text-shadow: 0 0 10px;
  text-align: center;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.preview {
  height: 200px;
  width: 200px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.preview:fullscreen {
  background-color: #343a40;
}

.size_select,
.size_pen {
  font-weight: 600;
  color: white;
  text-shadow: 0 0 10px;
  displaY: flex;
  flex-direction: column;
  width: 100%;
}

.mainCanvas {
  margin-top: 15px;
  box-shadow: 0px 0px 15px 2px red;
}

.full {
  font-weight: 200;
  color: #01a661;
  text-shadow: 0 0 10px;
  cursor: pointer;
  z-index: 100;
  width: 35px;
  height: 35px;
  text-align: center;
  margin-top: 5px;
  background-image: url('../../img/full.png');
  background-size: contain;
}

.full:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.framesButtons {
  background: transparent;
  border: none;
  height: 30px;
  width: 30px;
  z-index: 100;
  position: absolute;
}

.copyBtn {
  background-image: url('../../img/icons.png');
  background-position: -274px -76px;
  bottom: 0;
  right: 0;
}

.deleteBtn {
  background-image: url('../../img/icons.png');
  background-position: -274px -106px;
  right: 0;
}

.imgFrame {
  display: none;
}

.frame {
  background-size: contain;
}

.over {
  border: 3px dashed gold;
}


.settings-wrapper {
  display: flex;
}

.saveButton,
.clearButton,
.renderButton,
.downloadButton,
.nav_btn_container>button,
.add-btn {
  border: 3px solid rebeccapurple;
  border-radius: 10rem;
  padding: 10px;
  background: none;
  color: #01a661;
  box-shadow: 0 0 10px 3px rebeccapurple;
  text-shadow: 0 0 10px;
  width: 160px;
}

.author {
  display: flex;
  justify-content: center;
}

.author>h2 {
  text-shadow: 0px 0px 15px rebeccapurple;
  font-weight: 200;
  color: red;
  transition: 0.2s ease all;
}

.author>h2>a {
  color: red;
}

.author>h2:hover {
  transition: 0.2s ease all;
  transform: scale(1.05);
}

.author>h2:hover>a {
  text-shadow: 0px 0px 15px white;
  text-decoration: none;
}

.localStorageButtons>button {
  margin: 5px 0;
}

.add-btn {
  padding: 0;
  width: 96px;
  height: 60px;
  padding-left: 5px;
  font-weight: 600;
  text-align: left;
  border-radius: 5px;
  margin: 5px auto;
  display: flex;
}

select {
  border: none;
  background: none;
  font-weight: 200;
  color: #01a661;
  text-shadow: 0 0 10px;
}

.option {
  background: #343a40;
}
